<form method="POST">
    <input type="text" name="first" id="" />
    <input type="text" name="last" id="" />
    <input type="hidden" name="hiddenfield" id="" value="testing" />
    <button>Submit</button>
    <canvas id="canvas" width="150px" height="80px"></canvas>
</form>
