

{{>topimage}}
<div class="container">

         <div class="teaser">
        <div class="teaser-left">
            <p class="teaser__text">
               {{error}}</p>
        </div>
    </div>
    <div class="form">

        <form method="POST">
            <div class="inputfields">

                <div class="input">
                    <label for="email">E-Mail <span
                            class="mandatory">*</span></label>
                    <input type="text" name="email" id=""
                        placeholder="E-Mail" />
                </div>
                <div class="input">
                    <label for="password">Password <span
                            class="mandatory">*</span></label>
                    <input type="text" name="password" id=""
                        placeholder="Password" />
                </div>

            </div>
            <button>Log in!</button>
        </form>
    </div>

</div>


{{! lopp works with objects and arrays: }}
{{!-- {{#each projects}}
<li>{{name}}</li>
{{/each}} --}}
