<h3>Warm Welcome</h3>

<div class="container">

    <form method="POST">
        <div class="inputfields">

            <input type="text" name="first" id="" placeholder="First Name" />
            <input type="text" name="last" id="" placeholder="Last Name" />
            <input
                type="hidden"
                id="hiddenfield"
                name="hidden"
                value="testing"
            />
        </div>

        <canvas id="canvas" width="300px" height="100px"></canvas>

        <button>Submit</button>
    </form>

</div>
{{! lopp works with objects and arrays: }}
{{!-- {{#each projects}}
                <li>{{name}}</li>
            {{/each}} --}}
