{{>topimage}}
<div class="container">
    <div class="box">
        <div class="box-left">

        </div>
    </div>
</div>
<div class="container">
    <div class="form">

        <form method="POST">
            <div class="inputfields">
                <div class="input">
                    <label for="first">Age </label>
                    <input type="number" name="age" id="" min="16"
                        placeholder="Age" />
                </div>
                <div class="input">
                    <label for="last">City </label>
                    <input type="text" name="city" id="" placeholder="City" />
                </div>

                <div class="input">
                    <label for="url">URL</label>
                    <input type="text" name="url" id="" placeholder="Url" />
                </div>

            </div>
            <button>Add to profile</button>
        </form>
    </div>
    <div class="box">
        <div class="box-left">
            <p class="box__text">

                → You can skip this part<a class="link-green" href="/petition"> Skip ▷</a></p>
        </div>
    </div>
</div>
