
{{>topimage}}



<div class="container">
    <h2>Thank you for your support</h2>
    {{#sign}}
        <img src="{{signature}}" alt="" />
    {{/sign}}
    {{#signersTotal}}
        {{count}}
        people have singed the petition.
    {{/signersTotal}}
   Who else has signed?<a class="" href="/signers">View Our supporters</a>
</div>
