* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(252, 252, 252);
    color: rgb(44, 43, 48);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

ul {
    list-style: none;
}

nav {
    width: 100%;
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
    /* line-height: 1.2rem; */
}

a {
    color: #478d32;
    text-decoration: none;
}

button > a {
    color: #fff;
}

a.link-green {
    text-transform: uppercase;
    color: #478d32;
}
a.link-signer {
    color: #478d32;
    /* border-bottom: 1px solid #478d32; */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top left;
}

h2 {
    font-size: 1.8rem;
}

canvas {
    background-color: white;
    border: 1px solid #dcdcdc;
    position: relative; /* Necessary for correct mouse co-ords in Firefox */
}

form {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}
form.form-left {
    margin: 0;
}

label {
    /* display: inline-block; */
    width: 20%;
    padding: 1em 1.35714em;
}

input {
    width: 80%;
    padding: 1em 1.35714em;
    line-height: normal;
    border: 1px solid #dcdcdc;
    border-bottom-color: #cfcfcf;
    font-size: 0.93333em;
    color: inherit;
    background: #fff;
}

button {
    padding: 1.07143em 1.42857em;
    border: 0;
    outline: none;
    font-size: 0.93333em;
    letter-spacing: 0.1em;
    line-height: 1.42929;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(44, 43, 48);
    margin-top: 20px;
}

button:hover {
    background-color: #478d32;
    color: cornsilk;
}

footer {
    text-align: center;
    margin: 3rem;
    padding: 3rem 0 2rem 0;
}

.menu {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.logo a {
    font-size: 3rem;
}
.logo span {
    line-height: 3rem;
    font-size: 1.8rem;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
}

.topimage {
    width: 100%;
    height: 72vh;
    background: url(images/bike-lane.jpg) center no-repeat;
    background-size: cover;
    /* object-fit: cover;
    object-position: top left; */
}

.box {
    width: 100%;
    margin-top: 3rem;
    display: flex;
}

.box-left {
    width: 70%;
    /* margin: auto; */
}
.box-right {
    width: 30%;
    position: relative;
}

.box__image {
    /* position: absolute;
    top: 231px;
    left: -97px; */
}

.box__text {
    font-size: 1.2rem;
    margin-top: 0.8em;
    margin-bottom: 1.6em;
    line-height: 1.8rem;
}

.margin-top-5 {
    margin-top: 5rem;
}
.signers {
    margin-top: 3rem;
}
.signer {
    font-size: 1.2rem;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
    line-height: 1.8rem;
}

img.sig {
    border: 1px solid #478d32;
    width: 70%;
    height: auto;
    object-fit: cover;
    object-position: top left;
    margin: 3rem 0 0.5rem 0;
}

.form {
    width: 100%;
    height: auto;
}

.inputfields {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.input {
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin: 1em 0;
}

.mandatory {
    margin-left: 0.1428em;
    color: #478d32;
}

/* -------------------------------mediaqueries */

@media screen and (max-width: 1200px) {
    form {
        width: 100%;
    }
    .box-left {
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-width: 768px) {
    .logo a {
        font-size: 1.8rem;
    }
    .logo span {
        line-height: 1.8rem;
        font-size: 1.3rem;
    }
    .logo {
        padding-top: 0.8em;
        padding-bottom: 1em;
    }
    .link-green {
        font-size: 1rem;
    }
    .topimage {
        height: 30vh;
    }
    .box {
        flex-direction: column;
    }
    .box-left {
        width: 100%;
    }
    .box-right {
        width: 100%;
    }
    .input {
        height: 45px;
    }
    input {
        width: 65%;
        padding: 0.7em 0.5em 0.5em 1em;
    }
    label {
        width: 35%;
        padding: 0.7em 0.9em 0.5em 0;
    }
    .mandatory {
        margin-left: 0.1em;
    }
    img.sig {
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }
    .margin-top-5 {
        margin-top: 1.5rem;
    }
}
